Repository santoriggio/lite-db-js: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, typecheck

eslint:
  run: yarn eslint {staged_files}

typecheck:
  run: yarn tsc {staged_files} --noEmit

aaa
  src/generateUID.ts
Due: eslint, typecheck

chore: add some config files
  commitlint.config.js
  lefthook.yml
  package.json
  tsconfig.json
  yarn.lock
Due: eslint

test: add babel/typescript and tests for index
  __tests__/index.test.ts
  package.json
  yarn.lock
Due: eslint, typecheck

WIP: refactor DB, Document, Collection, Query
  src/Collection.ts
  src/DB.ts
  src/Document.ts
  src/Query.ts
  src/index.ts
Due: eslint, typecheck

WIP: refactor types
  src/types.ts
Due: eslint, typecheck

refactor: add jsDoc comments
  src/Document.ts
  src/types.ts
Due: eslint, typecheck

test: refactor tests
  __tests__/index.test.ts
Due: eslint, typecheck

chore: add eslint-plugin-jest
  eslint.config.cjs
  package.json
  yarn.lock
Due: none

chore: increment max width on prettier
  package.json
Due: none

chore: change pre-commit to pre-push
  lefthook.yml
Due: none

fix: fix delete document by passing the collection id
  src/Document.ts
Due: eslint, typecheck

test: check if document exists
  __tests__/index.test.ts
Due: eslint, typecheck

refactor: clean some methods
  eslint.config.cjs
  src/Collection.ts
  src/DB.ts
  src/Document.ts
  src/Query.ts
  src/types.ts
Due: eslint, typecheck

feat: add Subscribers class
  src/Subscribers.ts
Due: eslint, typecheck

test: add test for Subscribers class
  __tests__/subscribers.test.ts
Due: eslint, typecheck

test: add collection tests
  __tests__/collection.test.ts
Due: eslint, typecheck

refactor: collection.ts properties and methods
  src/Collection.ts
  src/Query.ts
Due: eslint, typecheck

Revert "Feat/collection.ts"
  __tests__/collection.test.ts
  __tests__/index.test.ts
  commitlint.config.js
  eslint.config.cjs
  lefthook.yml
  package.json
  src/Collection.ts
  src/DB.ts
  src/Document.ts
  src/Query.ts
  src/index.ts
  src/types.ts
  tsconfig.json
  yarn.lock
Due: eslint, typecheck

test: add generateUID test
  __tests__/generateUID.test.ts
  src/generateUID.ts
Due: eslint, typecheck

feat: add madge to check circular imports
  package.json
  yarn.lock
Due: none

chore: use push_files in pre-push hook
  lefthook.yml
Due: none

test: add test for document
  __tests__/document.test.ts
Due: eslint, typecheck

chore: remove pre-push hook
  lefthook.yml
Due: none

feat: get data() return the current data
  src/Document.ts
Due: eslint, typecheck

test: add test for .on() method on document
  __tests__/document.test.ts
Due: eslint, typecheck

refactor: refactor code
  src/DB.ts
  src/Query.ts
  src/types.ts
Due: eslint, typecheck

refactor: remove implements on Document
  src/Document.ts
Due: eslint, typecheck

chore: add release-it package
  package.json
  yarn.lock
Due: none

refactor: refactor some code
  package.json
  src/DB.ts
Due: eslint, typecheck

feat: return object onAddListener
  src/DB.ts
  yarn.lock
Due: eslint, typecheck

chore: add release-it config
  package.json
Due: none

refactor: refactor code
  src/Document.ts
  src/types.ts
Due: eslint, typecheck

docs: add description to deleteDoc method
  src/Collection.ts
Due: eslint, typecheck

refactor: remove types error
  src/DB.ts
Due: eslint, typecheck

refactor: export only DB from index.ts
  src/index.ts
Due: eslint, typecheck

refactor: skip type check
  src/Document.ts
Due: eslint, typecheck

chore: add yarn build to scripts
  package.json
Due: none

chore: increment version
  package.json
Due: none

chore: add config files to .npmignore
  .npmignore
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  typecheck: any of: *.{ts,tsx}
